<!DOCTYPE html>
<html ng-app="rzSliderDemo">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS Touch Slider</title>
  <link rel="stylesheet" href="demo.css"/>
  <link rel="stylesheet" href="../dist/rzslider.css"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="MainCtrl">

<div class="wrapper">
  <header>
    <h1>AngularJS Touch Slider</h1>
  </header>

  <article>
    <h2>Simple slider</h2>
    Model: <input type="number" ng-model="minSlider.value"/><br/>
    <rzslider rz-slider-model="minSlider.value"></rzslider>
  </article>

  <article>
    <h2>Range slider</h2>
    Min Value: <input type="number" ng-model="minRangeSlider.minValue"/><br/>
    Max Value: <input type="number" ng-model="minRangeSlider.maxValue"/><br/>
    <rzslider
      rz-slider-model="minRangeSlider.minValue"
      rz-slider-high="minRangeSlider.maxValue"
      rz-slider-options="minRangeSlider.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with visible selection bar</h2>
    <rzslider
      rz-slider-model="slider_visible_bar.value"
      rz-slider-options="slider_visible_bar.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with custom floor/ceil/step</h2>
    <rzslider
      rz-slider-model="slider_floor_ceil.value"
      rz-slider-options="slider_floor_ceil.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with callbacks on start, change and end</h2>
    <p>Value linked on start: {{ otherData.start }}</p>
    <p>Value linked on change: {{ otherData.change }}</p>
    <p>Value linked on end: {{ otherData.end }}</p>

    <rzslider
      rz-slider-model="slider_callbacks.value"
      rz-slider-options="slider_callbacks.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with custom display function</h2>
    <rzslider
      rz-slider-model="slider_translate.minValue"
      rz-slider-high="slider_translate.maxValue"
      rz-slider-options="slider_translate.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with Alphabet</h2>
    <rzslider
      rz-slider-model="slider_alphabet.value"
      rz-slider-options="slider_alphabet.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with ticks</h2>
    <rzslider
      rz-slider-model="slider_ticks.value"
      rz-slider-options="slider_ticks.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with ticks and values</h2>
    <rzslider
      rz-slider-model="slider_ticks_values.value"
      rz-slider-options="slider_ticks_values.options"
      ></rzslider>
  </article>

  <article>
    <h2>Range slider with ticks and values</h2>
    <rzslider
      rz-slider-model="range_slider_ticks_values.minValue"
      rz-slider-high="range_slider_ticks_values.maxValue"
      rz-slider-options="range_slider_ticks_values.options"
      ></rzslider>
  </article>

  <article>
    <h2>Slider with draggable range</h2>
    <rzslider
      rz-slider-model="slider_draggable_range.minValue"
      rz-slider-high="slider_draggable_range.maxValue"
      rz-slider-options="slider_draggable_range.options"
      ></rzslider>
  </article>

  <article>
    <h2>Disabled slider</h2>
    <label>Disabled <input type="checkbox" ng-model="disabled_slider.options.disabled"></label>
    <rzslider
      rz-slider-model="disabled_slider.value"
      rz-slider-options="disabled_slider.options"
      ></rzslider>
  </article>

  <article>
    <h2>Read-only slider</h2>
    <label>Read-only <input type="checkbox" ng-model="read_only_slider.options.readOnly"></label>
    <rzslider
      rz-slider-model="read_only_slider.value"
      rz-slider-options="read_only_slider.options"
      ></rzslider>
  </article>

  <article>
    <h2>Toggle slider example</h2>
    <button ng-click="toggle()">{{ visible ? 'Hide' : 'Show' }}</button>
    <br/>
    <div ng-show="visible">
      <rzslider
        rz-slider-model="slider_toggle.value"
        rz-slider-options="slider_toggle.options"></rzslider>
    </div>
  </article>


</div>

</body>
<script src="../bower_components/angular/angular.js"></script>
<script src="../dist/rzslider.js"></script>
<script src="demo.js"></script>
</html>
